#banner {
    position: relative;
    height: 15vh; /* Utiliser vh pour la hauteur */
    background-image: url(/images/banner.png);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}
.gamename{
    font-family: var(--second-typo);
    font-size: 3vw;
    font-weight: 300;
}
.info{
    position: relative;
    height: auto;
    width: 260px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-width: 0.3vw; /* Utiliser vw pour la largeur de la bordure */
    border-style: solid;
    border-image: linear-gradient(#64ACAA, #31605F, #1B3535, #63ABAB) 30;
}
.title{
    font-family: var(--second-typo);
    text-align: center;
    color: white;
    font-size: 1.5vw; /* Utiliser vw pour la taille de texte */
    font-weight: 300;
    margin: 2vw 0 1vw 0; /* Utiliser vw pour la marge */
    text-decoration: underline;
}
.email{
    color: white;
    font-family: var(--second-typo);
    font-size: 1vw; /* Utiliser vw pour la taille de texte */
    padding: 0.1vw 0;
    text-align: center;
}
label.gap{
    top: 10px;
}
input[type="email"]{
    border-radius: 1vw; /* Utiliser vw pour le border-radius */
    border-width: 0.3vw; /* Utiliser vw pour la largeur de la bordure */
    border-style: solid;
    background-color: white;
    color: black;
    font-size: 1vw; /* Utiliser vw pour la taille de texte */
    padding: 0.5vw 1vw; /* Utiliser vw pour le padding */
    width: 80%;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.send{
    margin: 0 auto 10px auto;
    padding: 0.5vw 1.6vw; /* Utiliser vw pour le padding */
    position: relative;
    display: flex;
    justify-content: center;
    background-color: black;
    font-family: var(--second-typos);
    border: 0.2vw solid darkgrey; /* Utiliser vw pour la bordure */
    border-radius: 1.5vw; /* Utiliser vw pour le border-radius */
    font-size: 1.2vw; /* Utiliser vw pour la taille de texte */
}
.send:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.back{
    padding: 0.5vh 0.3vw; /* Utiliser vw pour le padding */
    position: relative;
    display: flex;
    justify-content: center;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    background-color: black;
    font-family: var(--second-typos);
    border: 0.2vw solid darkgrey; /* Utiliser vw pour la bordure */
    border-radius: 1.5vw; /* Utiliser vw pour le border-radius */
    font-size: 1.2vw; /* Utiliser vw pour la taille de texte */
    width: 60px;
    text-decoration:none;
}